.navWrapper {
  margin-right: 20px;
}

.navBar {
  height: 100%;
  width: 180px;
  /* max-width: 200px; */
  height: 80vh;
}

/*NEW CSS RULES */
.NavList {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  width: 100%; */
}

.navBarLinks {
  /* width: 100%; */
  text-decoration: none;
  color: white;
  margin: auto;
}
/*----------------*/
.navBreadcrumb {
  padding: 10px;
  margin-bottom: 10px;
  height: 40px;
  max-width: 200px;

}
.material-icons {
  transform: scale(0.75);
}
.breadCrumb {
  padding-top: 2px;
}

.stayOrLeaveButtons {
  margin-top: 15%;
}
.leaveButton {
  text-decoration: none;
}
