body {
  text-align: center;
  margin: 0 auto;
  font-family: Roboto;
}
.debug {
  bottom: 0;
  right: 5%;
  position: fixed;
  border: 1px solid black;
}
.debug > a:link,
.debug > a:visited {
  color: green;
}
.signUpController {
  margin-left: 50%;
  margin-top: 1%;
}
.submitButton {
  margin-left: 30%;
  margin-top: 5%;
}
p {
  margin-left: 10%;
  margin-right: 10%;
}
h1,
h4,
p {
  padding: 1%;
}
