body {
  text-align: center;
  margin: 0 auto;
  font-family: Roboto;
}
.debug {
  bottom: 15px;
  right: 5%;
  position: fixed;
  padding: 5px;
}
.debug > a:link,
.debug > a:visited {
  color: green;
}
.signUpController {
  margin-left: 50%;
  margin-top: 1%;
}
.navBar {
  margin-top: 7.5%;
  width: 20%;
  height: 70%;
  margin-left: 1%;
  position: absolute;
}
.navBar a {
  text-decoration: none;
}
.signOut {
  margin-left: 75%;
}
.tripListEmptyPaper {
  width: 30%;
  padding: 2%;
  margin-left: 30%;
  margin-top: 10%;
}
.tripListEmptyPaper-text {
  padding-bottom: 7%;
}
.formPaper {
  width: 37%;
  padding: 1%;
  margin-left: 30%;
  margin-top: 10%;
}
.submitButton {
  margin-left: 30%;
  margin-top: 5%;
}
.navBreadcrumb {
  margin-right: 75%;
  margin-left: 1%;
  width: 10%;
}
p {
  margin-left: 10%;
  margin-right: 10%;
}
h1,
h4,
p {
  padding: 1%;
}
