.trip {
  width: 280px;
  height: 270px;
  /* padding: 10px; */
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainTripList {
  /* margin-top: 47px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: flex-start;
  align-items: flex-start; */
  align-content: flex-start;
  margin: auto;
  /* height: 100%; */
}
.mapsIcon {
  max-width: 100%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.TripTitle {
  text-align: center;
  padding-bottom: 5px;
}

.tripdates {
  display: flex;
  flex-direction: column;
}

.tripDatesWrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

#addNewTripWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.SingleTripStartAndEndDate {
  font-size: .9rem;
  padding: 2px;

}