.trip {
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainTripList {
  /* margin-top: 47px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: flex-start;
  align-items: flex-start; */
  align-content: flex-start;
  margin: auto;
  /* height: 100%; */
}
.mapsIcon {
  max-width: 100%;
  margin: auto;
}

.TripTitle {
  text-align: center;
}

.tripdates {
  display: flex;
  flex-direction: column;
}

.tripDatesWrapper {
  display: flex;
  justify-content: space-around;
}

#addNewTripWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}