.noArchivedTripsPaper {
  height: 270px;
  width: 280px;
  padding: 5%;
  align-content: center;
  text-align: center;
}

.trip2 {
  width: 280px;
  height: 270px;
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
