.billing {
  display: flex;
  width: 100%;
  align-content: center;
  margin-top: 50px;
}
.checkoutForm {
  width: 28%;
  height: 50%;
  padding: 1%;
}
.buyNowButton {
  margin-left: 25% !important;
  margin-top: 5% !important;
}
.paymentInfo {
  margin-left: 25% !important;
  margin-bottom: 5% !important;
}
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
  border-color: #fa755a;
}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
