.tripCreateWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
/* .spacingLeft {
  margin-left: 5px !important;
}
.spacingRight {
  margin-right: 5px !important;
} */
/* .spacingRightBig {
  margin-right: 60px !important;
} */
.MapWaypointWrapper {
  display: flex;
  margin-top: 20px;
}

.tripCreateMap {
  height: 500px;
  width: 600px;
  margin-right: 20px;
}

.tripCreateForm {
  padding: 10px;
  display: flex;
}

.WaypointListWrapper {
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.waypointButtonWrapper {
  display: flex;
  justify-content: space-evenly;
  justify-self: flex-start;
  margin-bottom: 10px;
}

.waypointContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  margin-top: 10px;
  /* justify-content: flex-end;
  justify-items: flex-start;
  align-content: flex-start;
  align-items: flex-start; */

}
.waypointControlsWrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.waypointTextField {
  display: flex;
  /* justify-content: space-around; */
}

.waypointButtonContainer {
  margin-top: 20px;
}

