.tripCreateWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.spacingLeft {
  margin-left: 15px !important;
}
.spacingRight {
  margin-right: 15px !important;
}
.spacingRightBig {
  margin-right: 60px !important;
}
.MapWaypointWrapper {
  display: flex;
  margin-top: 20px;
}

.tripCreateMap {
  margin-right: 20px;
}

.tripCreateForm {
  padding: 10px;
  display: flex;
}

.WaypointListWrapper {
  text-align: center;
}
